{% extends 'Admin/base.html.twig' %}
    {% block content %}
        {% for type in types %}
            <p>{{ type.type }}
                <span class="modif">
                    <a href="{{ path('admin_type_delete', {'id': type.id }) }}">Supprimer ce type de plat</a>
                    <a href="{{ path('admin_type_update', {'id': type.id }) }}">Modifier le nom</a>
                </span>
            </p>
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}