<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}">
    </head>
    <body>
        <header class="baseHeader xLarge-12">
            <ul class="listHeader xLarge-11">
                <li class="xLarge-2"><img src=" {{ asset('img/logo.png') }} " alt="" class="xLarge-4"></li>
                <li class="xLarge-2">Accueil</li>
                <li class="xLarge-2">Les vins</li>
                <li class="xLarge-2">Les plats</li>
                <li class="xLarge-2">Mes réservations</li>
            </ul>
        </header>
                {% block content %}
                {% endblock %}
        <footer class="baseFooter">
            <ul class="listFooter xLarge-12">
                <li class="xLarge-2">Accueil</li>
                <li class="xLarge-2">Les vins</li>
                <li class="xLarge-2">Les plats</li>
                <li class="xLarge-2">Mes réservations</li>
            </ul>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
