{% extends 'Admin/base.html.twig' %}
    {% block content %}{#Je fais une boucle fort et un if pour afficher le nom de mon type
suivi DES noms de plats #}
        <h2>Vos appellations : </h2>
            {% for appellation in appellations %}
                <p>{{ appellation.name }}
                    <span class="modif">
                        <a href="{{ path('admin_update_appellation', {'id':appellation.id}) }}">Modifier le nom de l'appelation</a>
                        <a href="{{ path('admin_delete_appellation', {'id':appellation.id}) }}">Supprimer cette appellation</a>
                    </span>
                </p>
                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
    {% endblock %}
