$vertPrimaire : #273531;
$jauneText : #DBC980;
$vertSecondaire : #26705B;
$boxShadowIn :inset 0px 0px 20px -4px rgba(0,0,0,0.75);
$buttonColor : blue;
$inputBorder : rgba(38,111,91,0.8);
$bande : rgba(39,53,49,0.7);
$porte : rgba(63,88,66);