@import "var";
@import "responsive";
@import "fonts";
@import "reboot";
@import "animate";

.baseHeader,
.baseFooter{
  display: flex;
  justify-content: center;
  background-color: $vertPrimaire;
  color: $jauneText;
  padding-top: 5px;
  height: 15vh;
}
.baseHeader li,
.baseFooter li{
  font-size: 25px!important;
}

.listHeader,
.listFooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reservations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reservation{
  border: 1px solid $jauneText;
  margin: 15px auto;
  border-radius: 8px;
}
#icon-smiling-face{
  width: 45px;
}
.titreResa{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $vertPrimaire;
  color: $jauneText;
  margin-top: 0;
  padding-left: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: $boxShadowIn;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $vertPrimaire;
  margin: 50px 0;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: $jauneText;
}

.frontForm label,
.form label{
  color: $vertPrimaire;
  font-size: 20px;
}
.divForm{
  display: flex;
  justify-content: center;
}

.frontForm button,
.form button{
  background-color: $vertSecondaire;
  Border : 1px solid black;
  Color : white;
  margin-top: 5px;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
  box-shadow: $boxShadowIn;
}

.resaForm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 8px;
  background-color: $jauneText;
  margin: 20px auto;
  box-shadow: $boxShadowIn;
}
.frontForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding-bottom: 10px;
}
.imgForm{
  display: flex;
}
.frontForm h1{
  color: $vertPrimaire;
}

.frontForm input{
  border: 1px solid $inputBorder;
  border-radius: 6px;
  margin-bottom: 10px;
}
.para1,
.para2{
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.accueil{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wine, .food{
  text-align: center;
}
.foodList, .addList, .wineList{
  border: 2px solid $vertPrimaire;
  border-radius: 8px;
  margin: 5% auto;
}
.foodList li, .addList li{
  text-align: center;
}
.foodList h2{
  letter-spacing: 4px;
  font-size: 30px;
}
.info p{
  color: $vertPrimaire;
}
.labelClass{
  padding-top: 15px;
  padding-bottom: 15px;
}
.labelClass label{
  background: linear-gradient(-180deg, #FFFFFF 0%, #EAF1F5 97%);
  box-shadow: 0px 1px 5px 0px rgba(93,145,171,0.6);
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
}
input[type=radio] {
  display:none;

  &:checked + label {
    background: $vertSecondaire;
    box-shadow: $boxShadowIn;
    color: #fff;
    cursor: default;
  }
}
.menu-btn{
  margin-right: 30px;
}
.entete {
  background-image: url(../../img/entreeModif.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bande{
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-top: 10px;
  padding-left: 5px;
  background-color: $bande;
  z-index: 20;
}
.bande a{
  border: 1px $jauneText solid;
  background-color: rgba(255,255,255,.1);
  padding: 3px 8px;
}

.modal{
  background-color: $vertPrimaire;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-out;
  color: $jauneText;
}
.modal li{
  margin: 30px auto;
}

.open-modal{
  visibility: visible;
  opacity: 1;
}

.bande li{
  font-size: 30px;
}

.sectionHome{
  justify-content: center;
  align-items: center;
  margin-bottom: -4px;
}

.sectionHome p{
  text-align: center;
  padding: 5px 20px;
}

footer{
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: $vertPrimaire;
  color: $jauneText;
}

.sectionCarousel{
  margin-top: 50px;
}

.sectionCarousel h1{
  font-size: 30px;
}

.icon{
  justify-content: space-around;
}

.sliderItem {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  transform-origin: 50% 50%;
  transform: scale(0.85);
  transition: all linear 0.5s;
  box-shadow: 0 0 10px transparent;
}

.center .sliderItem {
  transform: scale(1)!important;
  box-shadow: 0 0 10px $vertSecondaire!important;
}

.sliderItem a {
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000;
}

.sliderDetails {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.owl-nav {
  position: absolute;
  top: 15px;
  z-index: 3;
  left: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owl-dots {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-nav button, .owl-dots button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $vertSecondaire!important;
  border-radius: 100px;
  border: 1px solid #F1F1F1!important;
  outline: none;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: all linear 0.2s;
}

.owl-nav button:hover {
  transform: scale(1.2);
}

.owl-dots button {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  transition: all linear 0.2s;
}

.owl-nav button img {
  filter: invert(1);
}

.owl-dots .active {
  background-color: $jauneText!important;
}



